* {
  margin: 0; }

.h--align-center {
  text-align: center; }

.hidden-desktop {
  display: none; }

.hidden {
  display: none !important; }

.h--display-inline-block {
  display: inline-block; }

.h--text-align-left {
  text-align: left; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

html, body {
  font-size: 14px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-color: #22252b;
  color: #373d47;
  font-family: "museo-sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  width: 100%; }
  body.no-scroll {
    overflow: hidden; }

.wrapper {
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  min-height: 100%;
  overflow: hidden;
  position: relative; }

.footer,
.push {
  box-sizing: border-box;
  min-height: 60px;
  padding: 14px 0; }

.push {
  position: relative;
  z-index: -1; }

.footer {
  background-color: transparent;
  color: #ff6c00;
  font-size: 10px;
  font-weight: 500;
  line-height: 32px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 5; }
  .footer a {
    color: inherit; }

.footer__cookie-notice {
  display: block;
  line-height: 15px;
  padding: 10px 5px; }

#logo {
  background-image: url("../../images/smarturl-retina.png");
  background-size: 115px 31px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 31px;
  text-indent: -9999em;
  width: 115px; }

.bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  bottom: 60px;
  -webkit-filter: blur(23px);
  -moz-filter: blur(23px);
  -o-filter: blur(23px);
  -ms-filter: blur(23px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='23');
  opacity: 0.3;
  position: absolute;
  top: 101px;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  width: 100%;
  z-index: -5000; }


.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  vertical-align: middle;
  width: 1em; }

.button {
  background: #373d47;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.35714em;
  margin: 3px;
  padding: 6px 18px;
  position: relative;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  z-index: 0; }
  .button:hover, .button:focus, .button:active {
    color: #ffffff;
    outline: none; }
  .button:hover, .button:focus {
    background: #ff7c00; }
    .button:hover:before, .button:focus:before {
      background-color: #ff7c00;
      background-image: linear-gradient(to top left, #ff6c00, #ff7c00); }
    .button:hover:after, .button:focus:after {
      background: #ff7c00; }
  .button:active {
    background: #df581a; }
    .button:active:before {
      background-color: #df5719;
      background-image: linear-gradient(to top left, #b84d1c, #df5719); }
    .button:active:after {
      background: #df581a; }
  .button:before {
    background-color: #373d47;
    background-image: linear-gradient(to top left, #22252b, #373d47);
    border-radius: 4px;
    bottom: -3px;
    content: '';
    left: -3px;
    position: absolute;
    right: -3px;
    top: -3px;
    z-index: -2; }
  .button:after {
    background: #373d47;
    bottom: 0;
    border-radius: 4px;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1; }
  .button.button--orange {
    background: #ff6c00; }
    .button.button--orange:before {
      background-color: #ff7c00;
      background-image: linear-gradient(to top left, #df5719, #ff7c00);
      border-radius: 4px;
      bottom: -3px;
      content: '';
      left: -3px;
      position: absolute;
      right: -3px;
      top: -3px;
      z-index: -2; }
    .button.button--orange:after {
      background: #ff6c00;
      bottom: 0;
      border-radius: 4px;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1; }
    .button.button--orange:hover:not(.button--no-hover), .button.button--orange:focus:not(.button--no-hover), .button.button--orange.button--active:not(.button--no-hover) {
      background: #ff7c00; }
      .button.button--orange:hover:not(.button--no-hover):before, .button.button--orange:focus:not(.button--no-hover):before, .button.button--orange.button--active:not(.button--no-hover):before {
        background-color: #ff7c00;
        background-image: linear-gradient(to top left, #ff6c00, #ff7c00); }
      .button.button--orange:hover:not(.button--no-hover):after, .button.button--orange:focus:not(.button--no-hover):after, .button.button--orange.button--active:not(.button--no-hover):after {
        background: #ff7c00;
        bottom: 0;
        border-radius: 4px;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1; }
    .button.button--orange:active:not(.button--no-hover) {
      background: #df581a; }
      .button.button--orange:active:not(.button--no-hover):before {
        background-color: #df5719;
        background-image: linear-gradient(to top left, #b84d1c, #df5719); }
      .button.button--orange:active:not(.button--no-hover):after {
        background: #df581a;
        bottom: 0;
        border-radius: 4px;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1; }
  .button.button--small {
    font-size: 0.75em;
    line-height: 1.25em;
    min-width: 0;
    padding: 3px 8px; }
    .button.button--small .icon-arrow-up, .button.button--small .icon-arrow-down {
      position: relative;
      top: 1px; }
  .button.button--white {
    background: #ffffff !important;
    color: #22252b;
    border: 1px solid #b4b4b6;
    margin: 0; }
    .button.button--white:hover:not(.button--no-hover), .button.button--white:focus:not(.button--no-hover), .button.button--white:active:not(.button--no-hover), .button.button--white.button--active:not(.button--no-hover) {
      background: #ffffff;
      color: #2b8ffd;
      border-color: #2b8ffd; }
    .button.button--white:after, .button.button--white:before {
      content: none !important; }
    .button.button--white.button--full {
      width: 100%; }
    .button.button--white:disabled {
      color: #dadadd;
      cursor: not-allowed; }
  .button.button--text {
    background: transparent;
    color: #2b8ffd;
    font-weight: 400;
    padding: 0; }
    .button.button--text:after, .button.button--text:before {
      background: transparent;
      background-color: transparent;
      background-image: none; }
    .button.button--text:hover {
      color: #0275f3; }

.retailer-logo {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 0 auto;
  height: 83px;
  width: 190px; }

.logo {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 65px;
  max-width: 190px;
  position: relative;
  width: 65%; }



@-webkit-keyframes marquee {
  from {
    -moz-transform: translateX(75%);
    -o-transform: translateX(75%);
    -ms-transform: translateX(75%);
    -webkit-transform: translateX(75%);
    transform: translateX(75%); }
  to {
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@-moz-keyframes marquee {
  from {
    -moz-transform: translateX(75%);
    -o-transform: translateX(75%);
    -ms-transform: translateX(75%);
    -webkit-transform: translateX(75%);
    transform: translateX(75%); }
  to {
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@-ms-keyframes marquee {
  from {
    -moz-transform: translateX(75%);
    -o-transform: translateX(75%);
    -ms-transform: translateX(75%);
    -webkit-transform: translateX(75%);
    transform: translateX(75%); }
  to {
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@-o-keyframes marquee {
  from {
    -moz-transform: translateX(75%);
    -o-transform: translateX(75%);
    -ms-transform: translateX(75%);
    -webkit-transform: translateX(75%);
    transform: translateX(75%); }
  to {
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@keyframes marquee {
  from {
    -moz-transform: translateX(75%);
    -o-transform: translateX(75%);
    -ms-transform: translateX(75%);
    -webkit-transform: translateX(75%);
    transform: translateX(75%); }
  to {
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

.icon.icon--play {
  margin: 1px 0 0 2px;
  height: 20px;
  width: 17px; }

.icon.icon--pause {
  height: 16px;
  width: 15px; }

.stream .overlay__close {
  color: white; }

.stream__controls-container {
  position: relative;
  width: 320px; }

.stream__controls {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 500; }

.stream__control-bg {
  background: #373d47;
  background: rgba(55, 61, 71, 0.6);
  border-radius: 100%;
  content: '';
  display: block;
  height: 62px;
  left: 50%;
  position: absolute;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 62px;
  z-index: -10; }

.stream__control-bg--small {
  height: 48px;
  width: 48px; }

.stream__control-bg--next {
  margin-left: -45px; }

.stream__control-bg--prev {
  margin-left: 45px; }

.stream__control {
  background: #f3f4f8;
  border-radius: 100%;
  color: #22252b;
  cursor: pointer;
  display: inline-block;
  height: 54px;
  position: relative;
  width: 54px;
  vertical-align: middle;
  z-index: 10; }

.stream__control-bg[disabled] {
  background: rgba(55, 61, 71, 0.2) !important; }

.stream__control[disabled],
.stream__control[disabled]:hover {
  background: #f0f0f0 !important;
  color: #dadadd !important; }

.stream__control--active,
.stream__control:hover {
  color: #ff8f2b;
  background: #fff; }

.stream__control--small {
  height: 40px;
  width: 40px; }

.stream__control--middle {
  margin: 0 -2px;
  z-index: 15; }

.stream__control .icon {
  left: 50%;
  position: absolute;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.current-track {
  background: white;
  height: 5px;
  margin: 2px 0;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  z-index: 0; }

.current-track__progress {
  background: #ff8f2b;
  bottom: 0;
  height: 5px;
  position: absolute;
  top: 0;
  width: 0;
  will-change: width;
  z-index: -1; }

.current-track__progress:after {
  border-bottom: 5px solid #ff8f2b;
  border-right: 9px solid transparent;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  left: 100%;
  width: 0; }

.track-list {
  background: white;
  max-height: 165px;
  overflow: auto;
  padding: 32px 20px 0;
  width: 280px; }

.track-list--unavailable {
  padding-top: 45px; }

.track-list__footer {
  color: rgba(0, 0, 0, 0.45);
  font-size: 10px;
  font-weight: bold;
  line-height: 40px; }

.track-list__unavailable {
  color: rgba(0, 0, 0, 0.45);
  margin-bottom: 15px; }

.stream--light .track-list__unavailable {
  color: rgba(255, 255, 255, 0.45); }

.stream-overlay__content .track-list__unavailable {
  margin-top: 15px; }

.stream--light .track-list__footer {
  color: rgba(255, 255, 255, 0.45); }

.track {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  color: #22252b;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  text-align: left; }

.stream--light .track {
  border-color: rgba(255, 255, 255, 0.25); }

.track--disabled .track__name {
  opacity: 0.6; }

.track__info {
  overflow: hidden;
  width: 100%; }

.track__scroll-cnta {
  display: inline-block;
  max-height: 30px;
  overflow: hidden;
  width: 70%;
  white-space: nowrap;
  vertical-align: middle; }

.track__scroll {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  display: inline-block;
  left: 0;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  white-space: nowrap;
  width: 100%; }

.track--playing .track__scroll {
  -webkit-animation: 11s linear infinite normal none running marquee;
  -moz-animation: 11s linear infinite normal none running marquee;
  -ms-animation: 11s linear infinite normal none running marquee;
  -o-animation: 11s linear infinite normal none running marquee;
  animation: 11s linear infinite normal none running marquee;
  -webkit-animation-delay: -4.5s;
  -moz-animation-delay: -4.5s;
  animation-delay: -4.5s;
  text-overflow: initial;
  overflow: hidden;
  width: auto; }

.track__artists {
  display: inline; }

.track__artists-divider {
  margin: 0 5px; }

.track__meta {
  display: inline-block;
  width: 30%;
  text-align: right;
  vertical-align: middle; }

.track__time {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 35px; }

.track__animation {
  background: url("../../images/audio-dark.gif") no-repeat center center;
  display: inline-block;
  opacity: 0;
  height: 11px;
  vertical-align: middle;
  width: 19px; }

.stream--light .track__animation {
  background-image: url("../../images/audio-light.gif"); }

.track__animation--playing {
  opacity: 1; }




#apple-music-wrap {
  height: 400px;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  width: 320px; }

.responsive-iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.metadata--with-apple-music {
  display: none; }


#main {
  text-align: center;
  padding: 40px 0 60px 0; }

#content {
  width: 700px;
  margin: 0 auto; }

.metadata {
  /* float: left; */
  /* margin-right: 30px; */
  /* text-align: center; */
  /* width: 350px; */
  }
  .metadata img {
    box-sizing: border-box;
    display: block;
    width: 320px;
    height: auto;
    border: 15px solid #f0f0f0; }

.metadata--mobile {
  display:none
}
